@model IEnumerable<BaliTreeData.Models.StockItem>

@{
    ViewData["Title"] = "Stock Item Index - ";
}

<h2>Stock Item Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountRecieved)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountRecieved)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
